label {
        text-align: right;
    }
.but {
    background-color: black;
    color: green;
}
.yellow-text {
    color: black;
    background-color: black;
}
input::placeholder {
        color: black;
    }